In [2]:
points = [(0.18,0.76),(0.02,0.27),(0.55,0.52),(0.88,0.53),(0.38,0.77),(0.35,0.05)]
points

[(0.18, 0.76),
 (0.02, 0.27),
 (0.55, 0.52),
 (0.88, 0.53),
 (0.38, 0.77),
 (0.35, 0.05)]

In [3]:
import numpy as np
import pandas as pd
euclidean_dist = {point: [] for point in points}
manhattan_dist = {point: [] for point in points}
for point in points:
  for second_point in points:
    dx = np.abs(point[0] - second_point[0])
    dy = np.abs(point[1] - second_point[1])
    euclidean_dist[point].append(np.round(np.sqrt(dx**2+dy**2),4)) 
    manhattan_dist[point].append(dx + dy)

In [4]:
pd.DataFrame(euclidean_dist)

     0.18    0.02    0.55    0.88    0.38    0.35
     0.76    0.27    0.52    0.53    0.77    0.05
0  0.0000  0.5155  0.4410  0.7368  0.2002  0.7301
1  0.5155  0.0000  0.5860  0.8984  0.6161  0.3966
2  0.4410  0.5860  0.0000  0.3302  0.3023  0.5108
3  0.7368  0.8984  0.3302  0.0000  0.5546  0.7151
4  0.2002  0.6161  0.3023  0.5546  0.0000  0.7206
5  0.7301  0.3966  0.5108  0.7151  0.7206  0.0000

In [4]:
points_2 = [(2,10),(6.33,6),(1.5,3)]

manhattan_dist = {point: [] for point in points}
for point in points:
  for second_point in points_2:
    dx = np.abs(point[0] - second_point[0])
    dy = np.abs(point[1] - second_point[1])
    manhattan_dist[point].append(dx + dy) 
pd.DataFrame(manhattan_dist)

      1     2           4     5      6      7      8
     2     4     10    9     8      4      5      4      6
0  9.00  6.00  0.00  3.00  5.00  10.00  10.00  12.00  10.00
1  9.33  6.33  8.33  5.33  3.33   2.33   1.67   3.67   1.67
2  1.50  1.50  7.50  8.50  8.50   5.50   7.50   7.50   9.50

In [5]:
points_3 = [(3,9.5),(6.8,5.4),(1.5,3)]
manhattan_dist = {point: [] for point in points}
for point in points:
  for second_point in points_3:
    dx = np.abs(point[0] - second_point[0])
    dy = np.abs(point[1] - second_point[1])
    manhattan_dist[point].append(dx + dy) 
pd.DataFrame(manhattan_dist)

     1    2         4    5    6    7     8
    2    4    10   9    8    4    5     4    6
0  9.5  6.5  1.5  1.5  3.5  8.5  8.5  10.5  8.5
1  9.2  6.2  9.4  6.4  4.4  2.2  0.6   2.6  1.8
2  1.5  1.5  7.5  8.5  8.5  5.5  7.5   7.5  9.5

In [6]:
points_4 = [(3.66,9),(7.25,4.75),(1.5,3)]
manhattan_dist = {point: [] for point in points}
for point in points:
  for second_point in points_4:
    dx = np.abs(point[0] - second_point[0])
    dy = np.abs(point[1] - second_point[1])
    manhattan_dist[point].append(dx + dy) 
pd.DataFrame(manhattan_dist)

      1     2            4     5     6     7     8
     2     4      10    9     8     4     5     4     6
0  9.66  6.66   2.66  0.34  2.34  7.34  7.34  9.34  7.34
1  9.00  6.00  10.50  7.50  5.50  2.00  0.50  1.50  2.00
2  1.50  1.50   7.50  8.50  8.50  5.50  7.50  7.50  9.50